.footer {
    position: fixed;
    /* Fixa o footer na tela */
    bottom: 0;
    /* Coloca o footer no fundo */
    left: 0;
    width: 100vw;
    /* Garante que o footer ocupe toda a largura da tela */
    color: #FFF;
    padding: 1em;
    text-align: center;
    z-index: 49;
    /* Garantir que o footer fique sobre o conteúdo */
}

@media (max-width: 600px) {
    .footer {
        font-size: x-small;
    }
}

.footer_inside {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    gap: 20px;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 0.2em;
}

.social_list li:hover {
    color: #ffbb33;
}

.copyright span {
    font-weight: bold;
    background: linear-gradient(145deg, #cd49b7, #ffbb33);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}