.paralelogramo1 {
    transform: translate(-15px);
}

.trapezoid2 {
    transform: translate(-29px);
}

.lozango1 {
    transform: translate(5px);
}

.lozango3 {
    transform: translate(45px, -10px);
}

.trapezoid1_vertical_b {
    transform: translate(0, -18px);
}

.hexagono {
    transform: translate(20px, -18px);
}

.unique2 {
    transform: translate(-40px);
}

.trapezoid1_vertical_a {
    transform: translate(0px, -10px);
}

.parallelogram1_vertical_a {
    transform: translate(0px, -20px);
}