* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.svg-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  width: 100px;
  height: 100px;
  margin: auto;
}

.triangles {
  fill: #444;
}

.highlighted {
  fill: rgb(255, 255, 255) !important;  /* Destaque com a cor vermelha */
}