* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto Mono", serif;
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.boardDiv {
  position: absolute;
  margin-bottom: 20px;
  transition: all 0.1s ease-in-out;
}

.endScaling {
  transform: scale(0.85) rotate(10deg);
  transition: all 5s ease-in-out
}

.piece {
  overflow: visible;
}

.doomed {
  opacity: 50%;
  pointer-events: none;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.svg {
  width: auto;
  height: auto;
  overflow: visible;
  margin: auto;
}

.triangles {
  fill: #444;
  transition: all 0.1s ease-in-out;

}

.scaling {
  transform: scale(1.05);
  /* Aplica o aumento de 10% */
}

.scalingBoard {
  transform: scale(1.02);
  /* Ajuste o valor conforme necessário */
}

.highlighted {
  fill: rgb(255, 255, 255) !important;
  /* Destaque com a cor vermelha */
}


.piece_container {
  position: absolute;
  top: 100px;
  left: 7vw;
}

.scoreboard {
  position: absolute;
  right: 110px;
  top: calc(50% - 150px);
  color: white;
  font-size: 70px;
  text-align: center;
  line-height: 0.9;

}

.scoreboard span {
  font-size: 15px;
}

.highscore .actualscore {
  margin: 0 0;
}

.highscore {
  color: #f632f6;
  font-weight: bolder;
}

.actualscore {
  color: #e1ac37;
  font-weight: bolder;
}

@media (max-width: 1000px) {
  .scoreboard {
    position: absolute;
    right: 50px;
    color: white;
  }

  .piece_container {
    position: absolute;
    top: 100px;
    left: 40px;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .piece_container {
    position: absolute;
    left: 3vw;
    height: 100%;
  }

  .scoreboard {
    position: absolute;
    right: 50px;

    color: white;
  }

}

@media (max-width: 600px) {
  .piece_container {
    position: absolute;
    top: auto;
    left: 10px;
    bottom: 150px;
    height: auto;
  }

  .scoreboard {
    position: absolute;
    right: 50%;
    top: 50px;
    color: white;
  }

  .scoreboard h3 {
    font-size: 100px;
  }
}


.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 5s ease-in-out;
  z-index: 10;
}

.visible {
  visibility: visible;
  opacity: 100;
  transition: opacity 5s ease-in-out;
}



.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: start;
  height: 100vh;
  color: #fff;
  text-align: center;
  max-width: 90vw;
}

@media (max-width: 600px) {
  .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100%;
    text-align: center;
    max-width: 90vw;
    margin-bottom: 50px;
  }
}

.menu-options {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 100%;
}

.logo_main {
  width: 500px;
  max-width: 100%;
}


.input_main {
  background-color: transparent !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #d5d5d5;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  height: 30px;
  margin-top: 2px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-size: smaller;
}

.input_main:focus {
  outline: none;
  /* Remove o contorno padrão ao focar */
  border-color: #f632f6;
  /* Cor de borda quando em foco */
  box-shadow: 0 0 5px rgba(224, 148, 47, 0.5);
  /* Sombra suave para destacar o foco */
}

.input_main::placeholder {
  color: #aaa;

  font-size: small;
  font-family: "Roboto Mono", serif;
}

.btn-div {
  display: flex;
  width: 100%;
  gap: 10px;
}

.menu-button-link {
  display: inline-block;
  /* Faz o Link se comportar como um botão */
  background-color: #e1ac37;
  color: #242424;
  text-align: center;
  /* Garante que o texto do link fique centralizado */
  padding: 10px 30px;
  font-family: "Roboto Mono", serif;
  margin-top: 10px;
  font-size: small;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  /* Remove a decoração do Link (underline) */
  transition: background-color 0.3s ease;
  flex-grow: 1;
  flex-basis: 0;
}

.menu-button-link:hover {
  opacity: 70%;
  transition: background-color 0.3s ease;
}


.menu-button {
  background-color: #f632f6;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-family: "Roboto Mono", serif;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: small;
  flex-grow: 1;
  flex-basis: 0;
}

.menu-button:hover {
  opacity: 70%;
  transition: background-color 0.3s ease;
}


.hexSVG {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%) scale(0.65);
  z-index: -1;
  fill: #222;
  transform-origin: center;
}

.hexSVG2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%) scale(0.85);
  z-index: -2;
  fill: #2424244b;
  transform-origin: center;
}

.hexSVG_scaling {
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) scale(0.65);
  transition: all 5s ease-in-out
}

.tippy_btn {
  border-radius: 50%;
  /* Garante que o botão seja redondo */
  width: 40px;
  height: 40px;
  background: linear-gradient(145deg, #ffffff, #979797);
  /* Fundo elegante com gradiente */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 18px rgba(244, 241, 214, 0.3);
  /* Efeito de elevação suave */
  border: none;
  /* Remove a borda padrão */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* Mostra que o botão é clicável */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: 30px;
  color: #333;
  animation: tippy_pulse 1.5s ease-in-out infinite;
}

@keyframes tippy_pulse {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.09
  }

  100% {
    scale: 1;
  }
}

.tippy-box[data-theme="custom"] {
  z-index: 55;
  width: 550px;
  max-width: 90vw;
  font-size: 14px;
  /* Ajusta o tamanho do texto */
  padding: 20px;
  /* Adiciona mais espaço interno */
  background-color: rgba(20, 20, 20, 0.961);
  /* Cor de fundo */
  border-radius: 8px;
  /* Bordas arredondadas */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.135);
  /* Sombra */
  font-size: 11px;
}

.popper_txt span {
  color: #f632f6;
}

.game-over {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: #e1ac37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

.game-over img {
  width: 500px;
  margin-bottom: -60px;
}

.game-over button {
  margin-top: 40px;
  padding: 5px 20px ;
  border-radius: 5px;
  background: linear-gradient(180deg, #ffba24, #ea563c);
  /* Fundo elegante com gradiente */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 18px rgba(244, 241, 214, 0.3);
  /* Efeito de elevação suave */
  border: none;
  /* Remove a borda padrão */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* Mostra que o botão é clicável */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: 20px;
  font-family: "Roboto Mono", serif;
  color: #333;
  animation: tippy_pulse 1.5s ease-in-out infinite;
}

.ranking-container {
  color: #e1ac37;
}

.ranking-container h1 {
  margin-bottom: 20px;
}