* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.boardDiv {
  position: absolute;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.svg {
  width: auto;
  height: auto;
  overflow: visible;
  margin: auto;
}

.triangles {
  fill: #444;
  transition: all 0.1s ease-in-out; 

}

.scaling {
  transform: scale(1.05);  /* Aplica o aumento de 10% */
}

.highlighted {
  fill: rgb(255, 255, 255) !important;
  /* Destaque com a cor vermelha */
}


.piece_container {
  position: absolute;
  top: 80px;
  left: 150px;
}

@media (max-width: 800px) {
  .piece_container {
    position: absolute;
    top: 80px;
    left: 50px;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .piece_container {
    position: absolute;
    top: auto;
    left: 10px;
    bottom: 150px;
    height: auto;
  }
}

.scoreboard {
  position: absolute;
  right: 200px;
  top: calc(50% - 50px);
  color: white;
}
